@import "./ACommonStyles.scss";

footer {
    @include SectionsCentralPosition;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;

    text-transform: uppercase;
    font-size: small;
    font-weight: 600;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .left-part {
        min-width: 340px;
        width: 40%;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;

            li {
                display: inline;
                white-space: nowrap;
                margin-right: 0.6rem;
            }
        }
    }

    .right-part {
        display: flex;
        align-items: center;
        min-width: 330px;

        span {
            margin-right: 15px;
        }
        img {
            width: auto;
            height: 25px;
            margin-left: 2px;
        }
    }
}

footer li:hover {
    text-decoration: underline;
}

@media screen and (max-width: 380px) {
    footer {
        .left-part {
            min-width: 250px;

            ul {
                display: inline;
                li {
                    font-size: 0.7rem;
                    margin-right: 0.35rem;
                }
            }
        }
        .right-part {
            min-width: 200px;

            span {
                margin-right: 15px;
            }
            img {
                height: 15px;
                margin-left: 1px;
            }
        }
    }
}
