@import "./ShopBarStyle.scss";

// <section className="shoping-options">
//                 <div className="option-div">
//                     <div className="circle-div">
//                     </div>
//                     <h6>DOSTAWA NA POKŁAD</h6>
//                 </div>

//             </section>

.shoping-options {
    margin-top: 15px;
    background-color: $primaryColor;
    color: white;

    .content-div {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;

        .option-div {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .circle-div {
                height: 80px;
                width: 80px;
                border-radius: 50%;
                background-color: white;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h6 {
                font-size: small;
            }
        }
    }
}
