@import "./ShopBarStyle.scss";

.shoping-options {
    margin-top: 15px;
    background-color: $primaryColor;
    color: white;

    .content-div {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;

        .option-div {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h6 {
                font-size: small;
                text-align: center;
            }
        }
    }
}
.circle-div {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s ease 0s;
}

.circle-div:hover {
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.75);
}
@media (max-width: 450px) {
    .circle-div {
        height: 60px;
        width: 60px;
    }
    .shoping-options {
        margin-top: 0;
        .content-div {
            .option-div {
                h6 {
                    font-size: x-small;
                }
            }
        }
    }
}
