$primaryColor: #193171;

.section-news-carousel {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h5 {
    margin-top: 10px;
    text-align: center;
}

.slick-track {
    display: flex;
    justify-content: space-around;
}

.slick-next:before,
.slick-prev:before {
    color: black;
}

.center {
    text-align: center;
    margin-top: 5px;

    .more-news-button {
        background-color: $primaryColor;
        color: white;
    }
}
