@import "./ACommonStyles.scss";

@mixin singleBoxPosition() {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23%;
    min-width: 170px;
    padding-bottom: 0.5rem;
    position: relative;
}

@mixin imgPosition {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

@mixin flexCenter($justify-content, $align-items) {
    display: flex;
    width: 100%;
    justify-content: $justify-content;
    text-align: center;
    align-items: $align-items;
}

$primaryColor: #193171;

.shop-bar-style {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 90%;
    margin-left: 5%;
    margin-top: 7px;
    margin-bottom: 1rem;

    .shop-standard-box {
        @include singleBoxPosition();
        background-color: white;
        img {
            @include imgPosition();
            margin-top: 0.1vw;
            margin-bottom: 0.1vw;
        }
        h6 {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            color: #193171;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 0.7rem;
            text-align: center;
            margin: 0 auto 0.5rem;
            max-width: 181px;
            margin-bottom: 1rem;
            line-height: 0.8rem;
            color: grey;
        }
        .price-part {
            @include flexCenter(space-around, flex-end);
            bottom: 0px;
            color: grey;
            max-width: 181px;
            margin: 0 auto;

            .price-before {
                font-size: 0.75rem;
                text-decoration: line-through;
                color: darkslategrey;
                font-weight: 600;
                padding-bottom: 2px;
            }

            .price-current {
                @include PriceStyle();
            }
        }
    }
    .shop-main-box {
        @include singleBoxPosition();
        background-color: white;

        img {
            @include imgPosition();
            margin-top: 0.1vw;
            margin-bottom: 0.1vw;
        }

        .text-shop-box {
            @include flexCenter(space-between, center);
            .text-line {
                background-color: black;
                height: 0.1rem;
                width: 20%;
            }

            h3 {
                display: inline-block;
                width: 50%;
                min-width: 126px;
                text-align: center;
                font-size: 1.7rem;
                line-height: 1.9rem;
                color: $primaryColor;
                text-decoration: solid;
            }
        }
        p {
            font-size: 0.8rem;
            text-align: center;
            max-width: 224px;

            margin: 0 auto 0.5rem;
            color: #193171;
            line-height: 0.9rem;
        }
        button {
            width: 100%;
            max-width: 224px;
            font-size: 0.65rem;
            border: solid $primaryColor 1px;
            color: $primaryColor;
            cursor: pointer;
            border-radius: 1px;
            background-color: white;
            height: 17px;
            margin: auto;
            padding-bottom: 1rem;
        }
    }
}

.shop-standard-box:hover,
.shop-main-box:hover {
    @include ShopBoxTransform();
}

@media (min-width: 1200px) {
    .shop-bar-style {
        .shop-standard-box {
            h6 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1rem;
                line-height: 1rem;
            }
            .price-part {
                .price-current {
                    font-size: 1.2rem;
                }
                .price-before {
                    font-size: 0.9rem;
                }
            }
        }
        .shop-main-box button {
            font-size: 1rem;
            height: 28px;
        }
    }
}

@media screen and (max-width: 770px) {
    .shop-standard-box {
        border: $primaryColor solid 1px;
        .price-part {
            .price-current {
                font-size: 0.7rem;
            }
        }
    }

    .shop-main-box {
        border: $primaryColor solid 1px;

        button {
            width: 90%;
        }
    }
}
