.carousel-indicators {
    bottom: 4.5vw;

    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;

    }
}

.carousel-caption {
    bottom: 30%;
        p {
            width: 30%;
            margin-left: 35%;
        }
}

button {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
}
